# Gradle
.gradle/
build/
app/build/

# Android Studio
*.iml
.local
captures/
.externalNativeBuild
.cxx

# Build outputs
*.apk
*.aab
*.ap_
*.dex

# Java
*.class
*.jar
*.war

# Local configuration
local.properties

# Log files
*.log

# Android
.DS_Store
Thumbs.db

# Backup
*.bak
